.app {
    height: 100vh;
    width: 100vw;
    margin: 0;
    
}
.apod-image {
    height: 100%;
    width: 100%;
}
.text {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5rem;
    color: white;
}
.copyright {
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
}
input, input:hover, input:active {
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: white;
    font-size: 10rem;
}
/* mobile */
@media (pointer: coarse) and (hover: none) {
    .date-input {
        font-size: 3rem;
    }
    p {
        font-size: .8rem;
    }
}